{
  "openapi": "3.0.4",
  "info": {
    "title": "INFO-Subscription API",
    "description": "This is the reference API documentation, please look at http://docs.info-subscription.com for the conceptual documentation with process descriptions etc.",
    "termsOfService": "http://www.info-subscription.com/api-terms",
    "contact": {
      "name": "Infosoft AS",
      "url": "http://www.infosoft.no",
      "email": "support@infosoft.no"
    },
    "license": {
      "name": "Use under INFO-Subscription API terms.",
      "url": "http://www.info-subscription.com/api-terms"
    },
    "version": "2018-01-01"
  },
  "servers": [
    {
      "url": "https://api.info-subscription.com"
    }
  ],
  "paths": {
    "/authorizations/source/account": {
      "post": {
        "tags": [
          "AccountSource"
        ],
        "summary": "Creates the account source asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The source a to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountSourceCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AccountSource"
        ],
        "summary": "Gets the account sources asynchronous.",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "Get or set the user identifier",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "SubscriberAccountId",
            "in": "query",
            "description": "Gets or sets the identifier of the subscriber account.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountSource"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/authorizations/source/account/{id}": {
      "get": {
        "tags": [
          "AccountSource"
        ],
        "summary": "Gets the account source asynchronous.",
        "operationId": "GetAccountSource",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The source identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AccountSource"
        ],
        "summary": "Deletes the account source asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The source identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/authorizations/identityprovider/account/adb2c/{id}": {
      "post": {
        "tags": [
          "ADB2CAccount"
        ],
        "summary": "Creates the ADB2C account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The ADB2C account to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ADB2CAccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "ADB2CAccount"
        ],
        "summary": "Gets the ADB2C account asynchronous.",
        "operationId": "GetADB2CAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ADB2CAccount"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "put": {
        "tags": [
          "ADB2CAccount"
        ],
        "summary": "Updates the ADB2C account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The new name for identity provider.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ADB2CAccountUpdate"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "ADB2CAccount"
        ],
        "summary": "Deletes the ADB2C account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/authorizations/identityprovider/account/adb2c": {
      "get": {
        "tags": [
          "ADB2CAccount"
        ],
        "summary": "Gets the ADB2C accounts asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ADB2CAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/authorizations/identityprovider/account/auth0/{id}": {
      "post": {
        "tags": [
          "Auth0Account"
        ],
        "summary": "Creates the Auth0 account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The Auth0 account to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auth0AccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "Auth0Account"
        ],
        "summary": "Gets the Auth0 account asynchronous.",
        "operationId": "GetAuth0Account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Auth0Account"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "put": {
        "tags": [
          "Auth0Account"
        ],
        "summary": "Updates the Auth0 account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The new name for identity provider.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Auth0AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "Auth0Account"
        ],
        "summary": "Deletes the Auth0 account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identity provider identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/authorizations/identityprovider/account/auth0": {
      "get": {
        "tags": [
          "Auth0Account"
        ],
        "summary": "Gets the Auth0 accounts asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Auth0Account"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/account": {
      "post": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Creates the Autogiro account asynchronous.",
        "operationId": "AutogiroCreateAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The create account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.AccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets the Autogiro account asynchronous.",
        "operationId": "GetAutoGiroAccounts",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "description": "Get or set the organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "BankgiroCustomerNumber",
            "in": "query",
            "description": "Get or set the Autogiro customer number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BankgiroNumber",
            "in": "query",
            "description": "Get or set the Autogiro number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.AccountView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/account/{id}": {
      "put": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Updates the Autogiro account asynchronous.",
        "operationId": "AutogiroUpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The account to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Deletes the Autogiro account asynchronous.",
        "operationId": "AutogiroDeleteAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets the Autogiro account asynchronous.",
        "operationId": "GetAutoGiroAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.AccountView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/export/mandate/{organizationId}": {
      "post": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Exports mandates and transactions in file to Bgc.",
        "operationId": "AutogiroExportMandate",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The orginization identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoGiroExportFileView"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/export/file/{fileId}": {
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Get the autogiro export file asynchronous.",
        "operationId": "AutogiroExportFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The autogiro export file identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/mandate": {
      "post": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Creates a new Autogiro mandate for the given subscriber. \n Mandates are required for recurring payments (also known as Claims) to work.",
        "operationId": "AutogiroCreateMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The mandate to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.MandateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets a filtered collection of mandates.",
        "operationId": "GetAutoGiroMandates",
        "parameters": [
          {
            "name": "AccountId",
            "in": "query",
            "description": "Get or set the account identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "SubscriberId",
            "in": "query",
            "description": "Get or set the subscriber identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "BankAccountNumber",
            "in": "query",
            "description": "Get or set the Autogiro customer number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SubscriberNumber",
            "in": "query",
            "description": "Get or set the Autogiro number.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IncludeCancelled",
            "in": "query",
            "description": "Get or set the cancelled mandates.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IncludeRejected",
            "in": "query",
            "description": "Get or set the rejected mandates.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.MandateView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/mandate/{id}": {
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets a specific Autogiro mandate.",
        "operationId": "GetAutoGiroMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.Autogiro.MandateView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Cancel/Removes a specific mandate. Use this when the mandate is no longer valid.",
        "operationId": "AutogiroDeleteMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/transaction": {
      "post": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Creates a new Autogiro transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The transaction to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets a filtered collection of transactions.",
        "operationId": "GetAutoGirotransactions",
        "parameters": [
          {
            "name": "MandateId",
            "in": "query",
            "description": "Get or set the mandate identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IsCancelled",
            "in": "query",
            "description": "Get or set the transaction cencellation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TransactionView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/autogiro/transaction/{id}": {
      "get": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Gets a specific Autogiro transaction.",
        "operationId": "GetAutoGirotransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The transaction identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AutoGiro"
        ],
        "summary": "Cancels a specific transaction.",
        "operationId": "AutoGiroDeleteTransactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The transaction identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/account": {
      "post": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Creates the AvtaleGiro account asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The create account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets the AvtaleGiro account asynchronous.",
        "parameters": [
          {
            "name": "BankAccountNumber",
            "in": "query",
            "description": "Get or set the bank account number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BaseComboApiEndpointURL",
            "in": "query",
            "description": "Get or set the ComboApi endpoint url",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/account/{id}": {
      "put": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Updates the AvtaleGiro account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The account to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Deletes the AvtaleGiro account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets the AvtaleGiro account asynchronous.",
        "operationId": "GetAvtaleGiroAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/account/{id}/organizations": {
      "post": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Adds organizations to the account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The organizations to add.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/account/{id}/organizations/{organizationId}": {
      "delete": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Deletes organization from the account asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "organizationId",
            "in": "path",
            "description": "The organization identifier to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/claim": {
      "post": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Creates a new claim for a given AvtaleGiro mandate.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The claim to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Get a collection of claims with a filter.",
        "parameters": [
          {
            "name": "MandateId",
            "in": "query",
            "description": "Get or set the mandate identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "TransactionId",
            "in": "query",
            "description": "Get or set the transaction identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "KID",
            "in": "query",
            "description": "Get or set the KID to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/claim/{id}": {
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets a specific AvtaleGiro claim.",
        "operationId": "GetAvtaleGiroClaim",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The claim identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/claim/{id}/cancel": {
      "post": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Attempt to cancel an already scheduled AvtaleGiro claim that has not been processed yet.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The claim identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/claim/{id}/shipmentstatus": {
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Get the shipment status as identified by the Mastercard API. \n Typically there is one claim per shipment.",
        "description": "The Shipment is derived from the given claim. \n\nThis method acts as a wrapper around the upstream API, and reports the Status as returned by mastercard. \n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The claim identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShipmentStatusView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/claim/{id}/status": {
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Get the specific Claim status as identified by the Mastercard API.",
        "description": "This method acts as a wrapper around the upstream API, and reports the Status as returned by mastercard. \n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the claim.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionStatusView"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Bad Gateway"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/mandate": {
      "post": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Creates a new AvtaleGiro mandate for the given subscriber. \n Mandates are required for recurring payments (also known as Claims) to work.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The mandate to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MandateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets a filtered collection of mandates.",
        "parameters": [
          {
            "name": "AccountId",
            "in": "query",
            "description": "Get or set the account identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "SubscriberId",
            "in": "query",
            "description": "Get or set the subscriber identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IncludeCancelled",
            "in": "query",
            "description": "Get or set the cancelled mandates",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MandateView"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/mandate/{id}": {
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets a specific AvtaleGiro mandate.",
        "operationId": "GetAvtaleGiroMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateView"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Cancel/Removes a specific mandate. Use this when the mandate is no longer valid.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/avtalegiro/mandate/{id}/status": {
      "get": {
        "tags": [
          "AvtaleGiro"
        ],
        "summary": "Gets the mandate status from the external API.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/billing/balanceinvoicesetting": {
      "post": {
        "tags": [
          "BalanceInvoiceSetting"
        ],
        "summary": "(An Action that handles HTTP POST requests) creates balance invoice setting asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The balance invoice setting.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceInvoiceSettingsCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "BalanceInvoiceSetting"
        ],
        "summary": "Gets balance invoice settings asynchronous.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceInvoiceSetting"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/billing/balanceinvoicesetting/{id}": {
      "get": {
        "tags": [
          "BalanceInvoiceSetting"
        ],
        "summary": "Get the billing plan.",
        "operationId": "GetBalanceInvoiceSetting",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The billing plan identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceInvoiceSetting"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "BalanceInvoiceSetting"
        ],
        "summary": "Deletes the balance invoice setting asynchronous described by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The billing plan identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "put": {
        "tags": [
          "BalanceInvoiceSetting"
        ],
        "summary": "Updates the balance invoice setting asynchronous.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The billing plan identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The setting.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceInvoiceSettingsCreate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/account": {
      "post": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Creates the BetalingsService account asynchronous.",
        "operationId": "BetalingsServiceCreateAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The create account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.AccountCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Gets the BetalingsService account asynchronous.",
        "operationId": "GetBetalingsServiceAccounts",
        "parameters": [
          {
            "name": "OrganizationId",
            "in": "query",
            "description": "Get or set the organization identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "CreditorNumber",
            "in": "query",
            "description": "Get or set the BS creditor number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GroupNumber",
            "in": "query",
            "description": "Get or set the group number.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Subsystem",
            "in": "query",
            "description": "Get or set the subsystem.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.Account"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/account/{id}": {
      "put": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Updates the BetalingsService account asynchronous.",
        "operationId": "BetalingsServiceUpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The account to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Deletes the BetalingsService account asynchronous.",
        "operationId": "BetalingsServiceDeleteAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Gets the BetalingsService account asynchronous.",
        "operationId": "GetBetalingsServiceAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The account identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.Account"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/export/{organizationId}": {
      "post": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Exports transactions in file to BetalingsService.",
        "operationId": "BetalingsServiceExportTransactions",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The orginization identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BSExportFile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/export/file/{fileId}": {
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Get the BetalingsService export file asynchronous.",
        "operationId": "BetalingsServiceExportFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The BetalingsService export file identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    },
                    {
                      "type": "string",
                      "format": "binary"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/mandate": {
      "post": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Creates a new BetalingsService mandate for the given subscriber. \n Mandates are required for recurring payments (also known as Claims) to work.",
        "operationId": "BetalingsServiceCreateMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The mandate to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.MandateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Gets a filtered collection of mandates.",
        "operationId": "GetBetalingsServiceMandates",
        "parameters": [
          {
            "name": "AccountId",
            "in": "query",
            "description": "Get or set the account identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "SubscriberId",
            "in": "query",
            "description": "Get or set the subscriber identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "MandateNumber",
            "in": "query",
            "description": "Get or set the mandate number.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SubscriberNumber",
            "in": "query",
            "description": "Get or set the subscriber number.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "IncludeCancelled",
            "in": "query",
            "description": "Get or set the cancelled mandates.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.Mandate"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/mandate/{id}": {
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Gets a specific BetalingsService mandate.",
        "operationId": "GetBetalingsServiceMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.Mandate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "delete": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Cancel/Removes a specific mandate. Use this when the mandate is no longer valid.",
        "operationId": "BetalingsServiceDeleteMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The mandate identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
    "/betalingsservice/transaction": {
      "post": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Creates a new BetalingsService transaction.",
        "parameters": [
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "requestBody": {
          "description": "The transaction to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.TransactionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Invalid request, check your input parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResultModel"
                }
              }
            }
          },
          "default": {
            "description": "Default empty response"
          }
        }
      },
      "get": {
        "tags": [
          "BetalingsService"
        ],
        "summary": "Gets a filtered collection of transactions.",
        "operationId": "GetBetalingsServicetransactions",
        "parameters": [
          {
            "name": "MandateId",
            "in": "query",
            "description": "Get or set the mandate identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "IsCancelled",
            "in": "query",
            "description": "Get or set the transaction cencellation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/S4-TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Infosoft.S4.PaymentAgreements.Contracts.BS.Transaction"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "default": {
            "description": "Default empty response"
          }
        }
      }
    },
[...]
